
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  @font-face {
    font-family: miama;
    src: url(font/Miama/Miama.ttf);
    font-weight: Regular;
 }

 @font-face {
    font-family: mixed;
    src: url(font/Mixed/Hello-Mixed.otf);
    font-weight: mixed;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
   max-width: 1170px;
    margin:0 auto;
    background-color: #000000;
    border: 1px solid red;
 }
 /* share style */
 .btn{
    background-color: #E6533C;
    padding: 16px 48px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #E6533C;
    border-radius: 42px;
    margin-right: 14px;
    transition: all 0.7s ease-in-out;
 }

 .btn:hover, .btn:focus, .btn.active{
    background-color: transparent;
 }
 .btn-pc{
   display: inline;
 }
 .btn-mobile{
    display: none;
 }
 .btn-bg-remove{
    background-color: transparent;
    margin-right:0px;
 }
 .btn-bg-remove:hover, .btn-bg-remove:focus, .btn-bg-remove:active{
    background-color: #E6533C;
 }
 section{
   margin-top: 100px;
 }

 .section-content{
   max-width: 670px;
   margin: 0 auto 58px;
   text-align: center;
 }
 .section-content .section-title{
   font-size: 3rem;
   font-weight: 900;
   color: #FFFFFF;
   margin-bottom: 14px;
 }
 .section-content .section-description{
   font-size: 0.8rem;
   color: rgba(255, 255, 255,0.5);
   padding: 0 50px;
 }
 .section-btn{
   margin-top: 34px;
 }
 /* Header style */
 header{
    /* background-image: linear-gradient(center center, rgba(17, 17, 17,1), rgba(119, 119, 119,0)); */
    /* background: linear-gradient(0deg, rgba(119, 119, 119,0), rgba(17,17,17,1) 100%); */
    background-image: linear-gradient(to top bottom, rgba(119, 119, 119,1), rgba(17, 17, 17,0));
    background-position: center;
    margin-top: 57px;
 }
 header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 header .navbar .navbar-brand{
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
 }
 header .navbar .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
 }
 header .navbar .nav-list .nav-item{
    list-style: none;
    padding: 8px 20px;
    border-radius: 46px;
    transition: all 0.7s ease-in-out;
 }
 header .navbar .nav-list .nav-item .nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    color: #FFFFFF;
 }
 header .navbar .nav-list .nav-item:hover,
 header .navbar .nav-list .nav-item:focus,
 header .navbar .nav-list .nav-item:active{
    background-color: #E6533C;
 } 
 header .navbar .nav-list .active{
    background-color: #E6533C;
 }
 .mobile{
    display: none;
 }
 .mobile i{
    font-size: 1.5rem;
    color: #FFFFFF;
 }

 .bannar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 32px;
 }
 .bannar .bannar-content{
    max-width: 520px;
 }
 .bannar .bannar-content .bannar-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 120%;
 }
 .bannar .bannar-content .bannar-title span{
    font-size: 4.8rem;
    font-family: miama;
 }
 .bannar .bannar-content .bannar-subtitle{
    font-size: 1rem;
    color: rgba(255, 255, 255,0.5);
    margin: 28px 0;
 }
 .bannar-img{
    position: relative;
 }
.bannar-img img{
    width: 100%;
    height: auto;
 }
.workout{
    border-radius: 12px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 25%;
    right: -25%;
}
.workout h3{
    font-size: 2.5rem;
    color: #FFFFFF;
}
.workout p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255,0.6);
    line-height: 1.2rem;
    letter-spacing: 1px;
}

.tutorial{
    border-radius: 12px;
    padding: 20px 23px;
    background-color: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 10%;
    left: -20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle i{
    font-size: 1.2rem;
    color: #FFFFFF;
}
.tutorial h3{
    font-size: 1.5rem;
    color: #FFFFFF;
}
.tutorial p{
    font-size: 1rem;
    color: rgba(255, 255, 255,0.6);
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

/* Habits style */
.habits{}
.habits .habits-items{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 40px;
   padding: 0 26px ;
   text-align: center;
}
.habits .habits-items img{
   border-radius: 50%;
   margin-bottom: 30px;
}
.habits .habits-items h4{
   font-size: 1.1rem;
   font-weight: 600;
   color:#FFFFFF;
   margin-bottom: 6px;
}
.habits .habits-items p{
   font-size: 0.8rem;
   color: rgba(255, 255, 255,0.5);
}
/*  Run extra Style */
.extra-run{
   background-color: #222222;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
}
.extra-run .section-content{
   max-width: 443px;
   text-align: start;
   margin: auto 0 auto 24px;
}
.extra-run .section-content .section-description{
   padding: 0;
}